* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Noto Sans JP', sans-serif;
}

img {
    width: 100%;
    display: inline-block;
}

:root {
    --blue: #0084FD;
    --lightblue: #B5DDFF;
    --purple: #9792E4;
    --dark: #333333;
    --yellow: #FDC15F;
}

ul,
ol,
menu,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

/* LAYOUT */

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.col1{
    flex-basis: calc(100%/3*1);
}

.col2{
    flex-basis: calc(100%/3*2);
}

.col_full{
    flex-basis: 100%;
}


.row {
    display: flex;
    flex-wrap: wrap;  
}

.space-between {
    justify-content: space-between;
}

.center{
    text-align: center;
}



/* BUTTONS */

.button {
    font-size: 18px;
    line-height: 38px;
    border-radius: 50em;
    max-width: fit-content;
    padding: 0 16px;
}

.button--medium{
    line-height: 46px;
}

.button--medium a{
    padding: 0 36px;
    align-items: center;
}


.button--white {
    color: var(--dark);
    background-color: white;
}

.button--blue {
    color: white;
    background-color: var(--blue);
}

/* HEADER */

.main-header {
    background-color: var(--blue);
    padding: 19px 26px;
    color:  white;
}

.main-header nav.row {
    align-items: center;
}

.nav-item a {
    line-height: 38px;
    font-size: 16px;
    padding: 0 16px;
}

.small{
    margin: 0 -16px;
}

.hamburger {
    display: none;
}

/* MEDIAQUERY HEADER */

@media only screen and (max-width: 991px) {
    .hamburger {
        display: block;
    }

    .header-nav {
        display: none;
    }
}

/* HERO */

.hero{
    padding: 26px;
}

.hero h2{
    color: var(--blue);
    font-size: 26px;
}

.hero p{
    color: var(--dark);
    font-size: 18px;
}

.card {
    background-color: var(--lightblue);
    border-radius: 20px;
    margin: 0 12px;
    min-height:fit-content;
    height: 100%;
}

.hero .row{
    row-gap: 24px;
    margin: 0 -12px;
}

.col_figure,
.col_article{
    flex-basis: 50%;
}

.hero figure img{
    max-width: 100%;
    text-align: center;
    margin-bottom: -24px;
    display:block;
}

.col{
    border: 1px solid violet;
    padding: 24px 36px;
}

.button.button--medium{
    margin-top: 36px;
}

.icon_big{
    font-size: 84px;
}

.icon_blue{
    color: var(--blue);
}

.icon_space{
    padding-right: 16px;
}


/* MEDIAUERY HERO */

@media only screen and (max-width: 991px) {

    .hero .card.row [class^="col"]{
        flex-basis: 99%;
    }

    .col_figure{
        flex-basis: 100%;
    }

    .col_article{
        flex-basis: 100%;
    }

    .hero figure img{
        max-width: 100%;
        text-align: center;
        margin-bottom: -24px;
        padding-left: 36px;
        display: block;
    }
}



@media only screen and (max-width: 575px) {
    .hero [class^="col"] {
        flex-basis: 100%;
    }

}






